@import "variables";
@import "nav";
@import "footer";
@import "title";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}
body {
    background: linear-gradient($pink, $orange);
    overflow-x: hidden;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 20px;
    font-family: sans-serif;
}

h2 {
    color: $orange;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ccc;
    font-family: sans-serif;
}

.skills-grid {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding-bottom: 15%;
}
    
.container{
    border-radius: 3px;
    margin: 5px;
    position: relative;
    height: 220px;

}
    
  .wrapper {
    margin: 5em auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .card {
    margin: 15px; 
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;

    img {
        max-width: 100px;
    }
  
    @media screen and (max-width: 991px) {
      width: calc((100% / 2) - 30px);
    }
  
    @media screen and (max-width: 657px) {
      width: 100%;
    }
  
    &:hover {
      .card__inner {
        background-color: pink;
        transform: scale(1.05);

        h2 {
            color: #fff;
        }
      }
    }
  
    &__inner {
      width: 100%;
      padding: 30px;
      position: relative;
      cursor: pointer;
      background-color: #fff;
      font-size: 1.5em;
      text-align: center;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      
      &:after {
        transition: all 0.3s ease-in-out;
      }
      
      .fa {
        width: 100%;
        margin-top: .25em;
      }
    }
  
    //Fenêtre
    &__expander {
      transition: all 0.2s ease-in-out;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      
      .fa {
        font-size: 0.75em;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        
        &:hover {
          opacity: 0.9;
        }
      }
    }
  
    &.is-collapsed {
      
      .card__inner {
        &:after {
          content: "";
          opacity: 0;
        }
      }
      .card__expander {
        max-height: 0;
        min-height: 0;
        overflow: hidden;
        margin-top: 0;
        opacity: 0;
      }
    }
  
    &.is-expanded {
  
      .card__inner {
        background-color: #fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);

        h2 {
            color: $orange;
        }
        
        &:after{
          content: "";
          opacity: 1;
          display: block;
          height: 0;
          width: 0;
          position: absolute;
          bottom: -30px;
          left: calc(50% - 15px);
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid #333a45;
        }
        
        .fa:before {
          content: "";
        }
      }
  
      .card__expander {
        max-height: 1000px;
        min-height: 200px;
        overflow: visible;
        margin-top: 30px;
        opacity: 1;
        background-color: #fdf2e6;
        padding: 20px;
        font-family: lato;
        font-size: 20px;
      }
  
      &:hover {
        .card__inner {
          transform: scale(1);
        }
      }
    }
    
    &.is-inactive {
      .card__inner {
        pointer-events: none;
        opacity: 0.5;
      }
      
      &:hover {
        .card__inner {
          background-color: #fff;
          transform: scale(1);
        }
      }
    }
  }
  
  
  @media screen and (min-width: 992px) {
  
    .card:nth-of-type(3n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
    .card:nth-of-type(3n+3) .card__expander {
      margin-left: calc(-200% - 60px);
    }
    .card:nth-of-type(3n+4) {
      clear: left;
    }
    .card__expander {
      width: calc(300% + 60px);
    }
  
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
  
    .card:nth-of-type(2n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
    .card:nth-of-type(2n+3) {
      clear: left;
    }
    .card__expander {
      width: calc(200% + 30px);
    }
  
  }
  
  

@media (max-width: 900px) {

    h1 {
        font-size: 32px;
    }
    .skills-grid {
        height: auto;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        padding-bottom: 20%;
    }

    footer {
        display: block;
    }
}