@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
header {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-weight: 900;
  font-family: Lato;
}

.title {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: lato;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 4rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#spare-time {
  font-size: 1rem;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #000;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}
nav {
  list-style: none;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 400;
}
nav li {
  display: inline;
  padding: 0 10px;
}
nav li a {
  text-decoration: none;
  font-family: sans-serif;
  padding-left: 25px;
  text-transform: uppercase;
  color: #7a2a91;
  text-shadow: 1px 1px 1px #b4b4b4;
}

.burger {
  display: none;
}

@media (max-width: 700px) {
  .burger {
    display: block;
  }

  nav {
    display: none;
  }

  .menu-bg, .menu-burger, .menu-items {
    z-index: 7;
  }

  body {
    font-family: Avenir Next, sans-serif;
  }

  body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  .menu, .menu-burger, .menu-bg {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border-radius: 100%;
    right: 25px;
    top: 25px;
    text-shadow: 0px 0px 3px #6f6f6f;
  }
  .menu:hover, .menu-burger:hover, .menu-bg:hover {
    opacity: 0.5;
    text-shadow: none;
  }

  .menu-bg {
    background: #FDB947;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s cubic-bezier(0.33, 0, 0.37, 0.98) 0.25s;
    right: 50px;
    top: 50px;
    transform: translate3d(50%, -50%, 0);
    transform-origin: center center;
  }
  .menu-bg.overlay {
    transform: translate3d(50%, -50%, 0);
    width: 300vw;
    height: 300vh;
    opacity: 0.9;
  }

  .menu-burger {
    color: white;
    padding-top: 11px;
    cursor: pointer;
    transition: 0.4s;
    transform-origin: center;
  }
  .menu-burger.overlay {
    transform: rotate(-180deg) translateY(-10px);
  }

  .menu-items {
    position: absolute;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: 0.4s, opacity 0.3s ease-in-out 0.4s;
    transform: translateY(-200%);
    pointer-events: none;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
  }
  .menu-items a {
    transition: 1s, color 0.2s;
    opacity: 0;
    margin-top: 0px;
    display: block;
    color: #fff;
    user-select: none;
  }
  .menu-items.overlay {
    transform: translateY(10%);
    pointer-events: auto;
    opacity: 1;
  }
  .menu-items.overlay a {
    opacity: 1;
    margin: 50px;
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 150px 50px;
    line-height: 1.62em;
    color: #fff;
    z-index: -1;
  }
  .content h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
  }

  .line {
    width: 60px;
    height: 3px;
    background: white;
    position: absolute;
    top: 50%;
    right: 0;
    transition: width 0.3s ease-in-out 0.3s, height 0.5s ease-in-out 0.8s, top 0.5s ease-in-out 0.8s;
    cursor: pointer;
  }

  .linebig {
    width: 100%;
    height: 100%;
    top: 0;
  }

  .line.linebigout {
    transition: width 0.3s ease-in-out 0.8s, height 0.3s ease-in-out 0.5s, top 0.3s ease-in-out 0.5s;
  }
}
@media (max-width: 500px) {
  .menu-items {
    font-size: 50px;
  }
}
footer {
  height: 150px;
  padding: 20px 40%;
  text-align: center;
  font-family: lato;
}

footer img {
  width: 40px;
}

@media (max-width: 750px) {
  footer {
    padding: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: linear-gradient(#E1A3FF, #FDB947);
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  margin: 20px;
  font-family: sans-serif;
}

.roller {
  width: 115%;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
  padding: 10px;
}

.more {
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  margin: 75px auto;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.project:hover .photo {
  transform: scale(1.1);
}
.project .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.project .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: top;
  transition: transform 0.2s;
}
.project .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.project .description h2 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.project .description h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #FDB947;
  margin-top: 5px;
}
.project .description .technos {
  color: #E1A3FF;
  display: inline-block;
  position: relative;
}
.project p {
  position: relative;
  margin: 1rem 0 0;
}
.project p:first-of-type {
  margin-top: 1.25rem;
}
.project p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #E1A3FF;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.project:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .project {
    flex-direction: row;
    max-width: 550px;
  }
  .project .meta {
    flex-basis: 40%;
    height: auto;
  }
  .project .description {
    flex-basis: 60%;
  }
  .project .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .project.alt {
    flex-direction: row-reverse;
  }
  .project.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
}

@media (max-width: 1000px) {
  .project-list {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .project {
    max-width: 750px;
    min-height: 300px;
  }
}

/*# sourceMappingURL=projets.css.map */
